<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Missing Vowels</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/assets/xisfor-dark-square-rounded-120.png" />
  <style type="text/css">
  .btn, .input-lg {
    border-radius: 2px;
  }
  .main {
    margin-bottom: 50px;
  }
  .site-footer {
     position: fixed;
     left: 0px;
     bottom: 0px;
     width: 100%;
     background-color: #fff;
  }
  </style>
</head>
<body>

  <div class="container main">
    <div id="app">
      <p class="pull-right">time: {{ time_remaining }} - score: {{ score }}<p>
      <h1>Missing vowels</h1>
      <p>{{ round_time_length }} seconds to identify as many words or phrases with their vowels removed.</p>

      <hr />

      <template v-if="isGameOver">

        <button type="button" class="btn btn-info btn-lg" id="new_game"
                v-on:click="nextGame">
                  New game
        </button>

        <hr />

        <template v-if="hasPriorRound">
          <div>
            <h3>Game over - results:</h3>
            <h2> Score: {{ score }}</h2>

            <table class="table">
              <thead>
                <tr>
                  <th>Clue</th>
                  <th>Answer</th>
                  <th>Your guess</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="attempt in turns_taken">
                  <tr v-bind:class="[attempt.correct ? 'success' : 'danger']">
                    <td><span class="text-uppercase">{{ attempt.clue }}</span></td>
                    <td>{{ attempt.term }}</td>
                    <td>{{ attempt.guess || 'no answer'}}</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </template>

      </template>
      <template v-else>

        <h2>Category: {{ turn.category }}</h2>

        <div class="panel panel-default">
          <div class="panel-body">
            <p class="lead text-uppercase">{{ turn.clue }}</p>
          </div>
        </div>

        <div class="form-group" v-bind:class="[turn.correct ? 'has-success' : 'has-error']">
          <input type="text" class="form-control input-lg" id="guess" placeholder="guess" autofocus
                v-model="turn.guess" v-on:keyup="attempt" @keyup.enter="attempt">
        </div>

        <button type="button" class="btn btn-lg" id="next"
                v-bind:class="[turn.correct ? 'btn-info' : 'btn-danger']"
                v-on:click="nextRound">
                  {{ nextBtnText }}
        </button>

        <button type="button" class="btn btn-lg btn-success" v-on:click="attempt">Try</button>

        <a class="btn btn-lg" id="speech" v-on:click="listenUp">Say it!</a>

      </template>

      <div class="output"></div>

    </div>
  </div>

  <div class="site-footer">
    <div class="container ">
      <p>Based on BBC's <a href="http://www.bbc.co.uk/programmes/b00lskhg">Only Connect's</a> final round.
          Made by Kevin from <a href="http://xisfor.tech">x is for .tech</a></p>

    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
  <script src="game.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73899203-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
